<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persist</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>

<body>

  <header class="display-flex justify-space-between align-center p-2">
    <section class="hero is-medium is-warning">
      <div class="hero is-warning">
        <p class="title has-text-centered pad-me">
          <a href="/">Persist</a>
        </p>
      </div>
    </section>
    <nav class="navbar" role="navigation" aria-label="main-navigation">
      <div class="navbar-menu is-active">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/newtask" class="navbar-item">New Task</a>
          </div>
          <div class="navbar-item">
            <a href="/" class="navbar-item">Categories</a>
          </div>
          <div class="navbar-item">
            <a href="/day" class="navbar-item">Day View</a>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="/logout" class="navbar-item">Logout</a>
          </div>
        </div>
      </div>
      {{else}}
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/login" class="navbar-item">Login</a>
          </div>
        </div>
      </div>
      {{/if}}
    </nav>
    </div>
  </header>

  <section class="section">
    <div class="columns is-multiline">
      {{{ body }}}
    </div>
  </section>
</body>

</html>