<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persist</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>

  <header class="display-flex justify-space-between align-center p-2">
    <section class="hero is-medium is-warning">
      <div class="hero is-warning">
        <p class="title has-text-centered pad-me">
          <a href="/">Persist</a>
        </p>
      </div>
    </section>
    <nav class="navbar" role="navigation" aria-label="main-navigation">
      <div class="navbar-menu">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/newtask" class="navbar-item">New Task</a>
          </div>
          <div class="navbar-item">
            <a href="/" class="navbar-item">Categories</a>
          </div>
          <div class="navbar-item">
            <a href="/week" class="navbar-item">Week View</a>
          </div>
          <div class="navbar-item">
            <a href="/day" class="navbar-item">Day View</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {{!-- <button class="button" id="logout">logout</button> --}}
        </div>
      </div>
      </div>
      {{else}}
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/login" class="navbar-item">login</a>
          </div>
        </div>
      </div>
      {{/if}}
    </nav>
    </div>
  </header>

  <section class="section">
    <div class="columns is-multiline is-mobile">
      <!-- Render the sub layout -->
      {{{ body }}}
    </div>
  </section>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/logout" class="navbar-item">logout</a>
          </div>
        </div>
      </div>
  {{/if}}
</body>

</html>