{{!-- Padding --}}
<div class="column is-1"></div>

{{!-- Builds the dropdowns --}}
<div class="column is-2">
    <div class="content today"></div>
    <form class="form build-day-form">
        <div class="field">
            <label class="label">Add</label>
            <div class="control">
                <div class="select">
                    <select class="task-name">
                        <option>Add an activity</option>
                        {{#each tasks}}
                        <option>{{this.category}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link task-submit" type="button">Create</button>
            </div>
        </div>
    </form>
</div>

{{!-- Append elements here --}}
<div class="column is-8 hours-div"></div>


{{!-- Padding --}}
<div class="column is-1"></div>

<script src="./js/day.js"></script>