<header class="header">
  <p>Create a New Category:</p>
</header>
<form class="form new-project-form">
  <div class="column">
    <div class="column is-full">
      <div class="field">
        <label class="label">Category Name:</label>
        <div class="control">
          <input class="input" type="text" id="project-name" name="project-name" />
        </div>
      </div>

      <div class="field">
        <label class="label">Time Allotted:</label>
        <div class="control">
          <input class="input" type="number" id="project-funding" name="project-funding" />
        </div>
      </div>

      <div class="field">
        <label class="label">Tasks:</label>
        <div class="control">
          <textarea class="textarea" id="project-desc" placeholder="Textarea" name="project-desc"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Color</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select Color</option>
              <option>Blue</option>
              <option>Red</option>
              <option>Green</option>
              <option>Purple</option>
              <option>Yellow</option>
              <option>Orange</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Create</button>
        </div>
        <div class="control">
          <button
            type="                                                                                                                                                                          "
            class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="./js/profile.js"></script>