<header class="header">
  <p>Create a New Category:</p>
</header>
<form class="form new-project-form">
  <div class="column">
    <div class="column is-full">
      <div class="field">
        <label class="label">Category Name:</label>
        <div class="control">
          <input class="input" type="text" id="category" name="category" />
        </div>
      </div>

      <div class="field">
        <label class="label">Time Allotted:</label>
        <div class="control">
          <input class="input" type="number" id="hours" name="hours" />
        </div>
      </div>

      <div class="field">
        <label class="label">Tasks:</label>
        <div class="control">
          <textarea class="textarea" id="description" placeholder="Textarea" name="description"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Color</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select Color</option>
              <option>Blue</option>
              <option>Red</option>
              <option>Green</option>
              <option>Purple</option>
              <option>Yellow</option>
              <option>Orange</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Start Time (24hr):</label>
        <div class="control">
          <div class="select">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
            </select>
          </div>
        </div>
      </div>

      <div class="notification is-primary added">
        <button class="delete"></button>
        Task added!
      </div>

      <div class="notification is-danger complete">
        <button class="delete"></button>
        Please fill out all fields!
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="submit" type="submit">Create</button>
        </div>
        <div class="control">
          <button type="button" class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="./js/newTask.js"></script>
