<header class="header">
  <p>Create a New Category:</p>
</header>
<form class="form new-project-form">
  <div class="column">
    <div class="column is-full">
      <div class="field">
        <label class="label">Category Name:</label>
        <div class="control">
          <input class="input" type="text" id="category" name="category" />
        </div>
      </div>

      <div class="field">
        <label class="label">Time Allotted:</label>
        <div class="control">
          <input class="input" type="number" id="hours" name="hours" />
        </div>
      </div>

      <div class="field">
        <label class="label">Tasks:</label>
        <div class="control">
          <textarea class="textarea" id="description" placeholder="Textarea" name="description"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Color</label>
        <div class="control">
          <div class="select">
            <select class="color">
              <option value="blue">Blue</option>
              <option value="red">Red</option>
              <option value="green">Green</option>
              <option value="purple">Purple</option>
              <option value="yellow">Yellow</option>
              <option value="orange">Orange</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Start Time:</label>
        <div class="control">
          <div class="select">
            <select class="start">
              <option value="1">1am</option>
              <option value="2">2am</option>
              <option value="3">3am</option>
              <option value="4">4am</option>
              <option value="5">5am</option>
              <option value="6">6am</option>
              <option value="7">7am</option>
              <option value="8">8am</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="13">1pm</option>
              <option value="14">2pm</option>
              <option value="15">3pm</option>
              <option value="16">4pm</option>
              <option value="17">5pm</option>
              <option value="18">6pm</option>
              <option value="19">7pm</option>
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
              <option value="24">12am</option>
            </select>
          </div>
        </div>
      </div>

      <div class="notification is-primary added">
        Task added!
      </div>

      <div class="notification is-danger complete">
        Please fill out all fields!
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="submit" type="submit">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="./js/newTask.js"></script>
