<header class="header">
  <p>Create a New Category:</p>
</header>
<form class="form new-project-form">
  <div class="column">
    <div class="column is-full">
      <div class="field">
        <label class="label">Category Name:</label>
        <div class="control">
          <input class="input" type="text" id="category" name="category" />
        </div>
      </div>

      <div class="field">
        <label class="label">Time Allotted:</label>
        <div class="control">
          <input class="input" type="number" id="hours" name="hours" />
        </div>
      </div>

      <div class="field">
        <label class="label">Tasks:</label>
        <div class="control">
          <textarea class="textarea" id="description" placeholder="Textarea" name="description"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Color</label>
        <div class="control">
          <div class="select">
            <select class="color">
              <option value="Blue">Blue</option>
              <option value="Red">Red</option>
              <option value="Green">Green</option>
              <option value="Purple">Purple</option>
              <option value="Yellow">Yellow</option>
              <option value="Orange">Orange</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Start Time (24hr):</label>
        <div class="control">
          <div class="select">
            <select class="start">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
            </select>
          </div>
        </div>
      </div>

      <div class="notification is-primary added">
        <button class="delete"></button>
        Task added!
      </div>

      <div class="notification is-danger complete">
        <button class="delete"></button>
        Please fill out all fields!
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="submit" type="submit">Create</button>
        </div>
        <div class="control">
          <button type="button" class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="./js/newTask.js"></script>
