<div class="content is-large">
  <h1>{{task.category}}</h1>
  <p>{{task.category_sub}}</p>
  <p>Created by {{task.user_email}}</p>
  <p>
    <span for="img" aria-label="time">⌛</span>
    <span class="time-amount">{{task.hours}}</span>
    hours needed
  </p>
  <p>
    <button class="button delete1">Delete</button>
  </p>
</div>

<script src="../js/deleteTask.js"></script>
<script src="../js/index.js"></script>




