header.blue {
  background-color: rgb(37, 37, 180);
}

header.red {
  background-color: rgb(192, 24, 24);
}

header.green {
  background-color: green;
}

header.purple {
  background-color: rgb(119, 4, 119);
}

header.yellow {
  background-color: rgb(233, 213, 33);
}

header.orange {
  background-color: rgb(224, 150, 12);
}

a.light {
  color: white;
  padding: 2px;
}

a.light:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}

header.color-problem {
  border-color: crimson;
  border-style: solid;
  border-width: thick;
}

p.pad-me {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.pad-me {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.blue {
  background-color: rgb(198, 226, 250);
  padding: 5px;
}

div.grey {
  background-color: rgb(211, 211, 211);
  padding: 5px;
}

div.hide {
  display: none;
}

div.show {
  display: block;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.added {
  display: none;
}

.complete {
  display: none;
}